<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FridgeIQ Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="photoPreview">
                <img class="previewImage" src="/get-image-preview" alt="Video Stream Error">
                <!-- <video autoplay="true" id="videoElement"></video> -->
                <!-- <canvas id="previewCanvas"></canvas> -->
                <button id="captureButton"></button>
            </div>
        </div>

        <div class="itemPreview">
            <p class="title">Adding Item</p>
            <p class="itemName">Scan an item</p>
            <div>
                <input type="date" class="datePicker" placeholder="Expiration Date">
                <button class="addButton">Add</button>
            </div>
        </div>

        <div class="right-panel">
            <div class="sensor-data">
                <div class="sensor-card">
                    <h3>TEMPERATURE</h3>
                    <div class="sensor-value temperature">4°C</div>
                </div>
                <div class="sensor-card">
                    <h3>HUMIDITY</h3>
                    <div class="sensor-value humidity">45%</div>
                </div>
            </div>
            
            <div class="items-list">
                <h2>Detected Items</h2>
                <!-- <div class="detected-item">Apple</div>
                <div class="detected-item">Milk Carton</div> -->
            </div>
        </div>
        <div id="error-popup"></div>
    </div>

    <script>
        flatpickr(".datePicker", {
            theme: "dark",
            position: "above"
        });
    </script>

    <!-- <script src="../static/js/items_handler.js"></script> -->

    <script src="{{ url_for('static', filename='js/photo_preview.js')}}"></script>
    <script src="{{ url_for('static', filename='js/items_handler.js')}}"></script>
    <script src="{{ url_for('static', filename='js/take_photo.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dht11.js')}}"></script>
</body>
</html>